@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');

/* shared styles */
* {
    margin: 30px auto;
    font-family: 'Mulish', sans-serif;
}

.primary-color {
    color: #FF5400;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    /* align-items: center; */
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-image {
    margin-right: 30px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424247;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    margin-right: 44px;
}

/* banner styles */
.banner {
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    /* width: 81.25vw; */
    width: 1170px;
    height: 500px;
}

.banner-content {
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
}

.banner-para {
    width: 46.94vw;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 26px; */
}

.banner-search-bar {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    width: 800px;
    height: 84px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-search-fields {
    border-radius: 8px;
    margin-top: 16px;
    background: #FFF;
    border: 0;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.banner-button {
    margin-top: 16px;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

/* main styles */

/* popular-tour-section styles*/

.popular-tours {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    /* line-height: 162.5%; */
    /* width: 36.45vw; */
    text-align: left;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 30px auto;
}

.popular-tours-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    text-align: left;
    width: 36.45vw;
}

.popular-tours-para,
.popular-tours-list {
    width: 36.45vw;

}

/* height: 104px; */
.popular-tours-button {
    width: 15vw;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.popular-tours-image {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
}

/* destination section styles */

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-para {
    width: 44.65vw;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
}

.destination-images {
    margin: 30px auto;
    align-content: center;
}

.row1 {
    margin-bottom: 0px;
    margin: 0px auto;
}

.row2 {
    margin-top: 0px auto;
}

/* why-us section styles */
.why-us-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.card1 {
    width: 39.79vw;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 30px;
    padding-top: 10px;
}

.card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 39.79vw;
    height: 284px;
    padding-left: 30px;
    padding-top: 10px;
}

.card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 39.79vw;
    height: 284px;
    padding-left: 30px;
    padding-top: 10px;
}

.card-para {
    color: #5A5A5D;
    /* width: 486px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
}

/* newsletter section */
.newsletter-and-pic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}

.newsletter {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
    text-align: center;
    margin-right: 1px;

}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    padding-left: 30px;
}

.newsletter-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

hr {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter-input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    width: 393px;
    height: 52px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
}

.newsletter-button {
    border-radius: 8px;
    background: #FF5400;
    width: 393px;
    height: 52px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.newsletter-pic {
    width: 672px;
    height: 422px;
    margin-left: 4px;
}

/* footer styles */
.footer {
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 502px;
}

/* .footer-image{
    margin-right: 6px;
} */
.footer hr {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.footer-title {
    display: flex;
   text-align: center;
    padding: auto;
    align-items: center;
    justify-content: space-between;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    width: 769px;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
}

.footer-description2 {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.footer-icons {
    display: flex;
}

@media screen and (max-width: 600px) {
    header {
        padding: 10px 20px;
    }

    nav {
        flex-direction: column;

    }

    nav ul>li {
        flex-direction: row;
        display: none;
    }

    .banner {
        width: 89.33vw;
        padding: auto;
        /* flex-direction: column; */
    }

    .banner-title {
        font-size: 22px;
        padding-top: 1px;
    }

    .banner-para {
        font-size: 14px;
        width: 81.06vw;
    }

    .banner-search-bar,
    .banner-search-fields,
    .banner-button {
        display: flex;
        /* width: 76.53vw; */
        width: 85.67vw;
        height: 350px;
        padding: 16px;
        grid-area: 1px;
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-search-bar {
        gap: 0px;
    }

    .banner-button {
        width: 255px;
        height: 52px;
    }

    .banner-search-bar>.banner-search-fields {
        width: 255px;
        margin-top: 0px;
    }

    .popular-tours {
        flex-direction: column;
        /* padding: auto; */
        width: 89.33vw;
        /* line-height: 24px; */
        margin-top: 0px;
    }

    .popular-tours-title {
        font-size: 20px;
        width: 178px;
    }

    .popular-tours-para {
        width: 335px;
        height: 75px;
    }

    .popular-tours-list {
        font-size: 14px;
        margin: 0;
        width: 335px;
    }

    .popular-tours-button {
        width: 255px;
        height: 52px;
        margin-top: 50px;

    }

    .popular-tours-image {
        width: 89.33vw;
    }

    .destination-title {
        font-size: 20px;
    }

    .destination-para {
        font-size: 14px;
        width: 309px;
    }

    .destination-images .row1 .row2 .row3 {
        /* width: 335px; */
        height: 176px;
        flex-direction: column;
    }

    .why-us-title {
        font-size: 20px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card1,
    .card2,
    .card3 {
        width: 335px;
        height: 289px;
        margin-bottom: 5px;
    }

    .newsletter-and-pic {
        flex-direction: column;
    }

    .newsletter {
        width: 335px;
        height: 450px;
    }

    .newsletter>hr {
        width: 288px;
        height: 1px;
    }

    .newsletter-input,
    .newsletter-button {
        width: 288px;
        height: 52px;
    }

    .newsletter-pic {
        width: 335px;
        height: 300px;
    }

    .footer-title {
        padding: 0px;
    }

    .footer-description {
        width: 287px;
    }

    .footer>hr {
        width: 335px;
        height: 1px;
    }
}